@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    /* RESETEO DE CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #F2A950;
    background-image: url(images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 90%;
   
}

#espaciado {
    background-image: url(images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 90%;
    height: 200px;
}

h1 {
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.345);
    padding-top: 90px;
    padding-bottom: 125px;
    font-size: 64px;
}

nav {
    background-color: #734A26;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}

nav ul {
    list-style: none;
}

nav ul li {
    width: 100px;
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #F5DDBF;
    border-bottom: 3px solid yellow;
}

.col {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.img-main {
    width: 50%;
    margin-left: 250px;
}

.col h2,p {
    text-align: center;
    margin-bottom: 30px;
}

#inicio {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.btn {
    background-color: #004384;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 250px;
}

.btn:hover {
    background-color: #062c52;

}

.foto {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #062c52;
    padding: 5px;
    margin-left: 80px;
    background-color: white
}

h2 {
    text-align: center;
}

#galeria {
    padding: 32px;
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #1d1c1b;
}

#galeria h2 {
    color: white;
    margin-bottom: 30px;
}